<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">.NET FM Playground</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="foundation-models">
                <span class="oi oi-list" aria-hidden="true"></span> List Foundation Models
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Text-playground">
                <span class="oi oi-copywriting" aria-hidden="true"></span> Text Playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat-playground">
                <span class="oi oi-chat" aria-hidden="true"></span> Chat Playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="voicechat-playground">
                <span class="oi oi-people" aria-hidden="true"></span> Voice Chat Playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="embedding-playground">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Embedding Playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="image-playground">
                <span class="oi oi-image" aria-hidden="true"></span> Image Playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agent-playground">
                <span class="oi oi-person" aria-hidden="true"></span> Agent Playground
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
